[packages]
jupyterlab = "*"
nbdev = "==1.1.20"
jupyter = "*"
ipython = "*"
nbdime = "*"
tqdm = "*"
tensorflow-addons = "*"
imbalanced-learn = "*"
tsai = "==0.2.17"
sktime = "==0.6.1"
mlxtend = "*"
scikit-plot = "*"
opencv-python = "*"
e1839a8 = {path = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.8"
