[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
nbdev = "==1.1.12"
jupyter = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.e1839a8]
path = "."
editable = true
